<!--
		 welcome in the meta of ...
                  _        __   __ ___          
      _ __   ___ | |_  __ _\ \ / /| _ \ ___ ___ 
     | '  \ / -_)|  _|/ _` |\ V / |   /(_-</ -_)
     |_|_|_|\___| \__|\__,_| \_/  |_|_\/__/\___|
    		  
    ... build in HTML5, CSS3, VUE.js + Node.Webpack magic
    > more WebXR on metavrse.de and karpinski.berlin/metavrse 
    > more about my projects on digitalpraxis.de
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="immersive,media,vr,ar,xr,mr,virtual,augmented,cross,extended,merged,mixed,reality,bullshit,bingo,guide,tutorials,metavrse,digitalPRAXIS,Robert,Karpinski" />
    <meta name="description" content="The Immersive Media Bullshit Bingo Glossar (IMBB) by digitalPRAXIS is a free web glossar and knowledge database of tutorials, hardware, software or whatever VR / AR / XR related." />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Immersive Media Bullshit Bingo Glossar by metaVRse</title>
  </head>
  <body>
    <main id="app"></main>
  </body>
</html>
