html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    color: #FFF;
    transition: all .6s ease-in-out;
    font-weight: normal;
    background: linear-gradient(60deg, rgba(0, 100, 200, 0.5) 0%, rgba(150, 50, 50, 0.5) 60%, rgba(250, 220, 90, 0.5)) no-repeat center center, url("back.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2rem;
    margin: 0;
}

a {
    color: #FFF;
    text-decoration: none;
    padding: 0 3px;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #FFF;
}

a:hover,
a:focus {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 4px solid white;
}

button,
main#wrapper>article>nav>a {
    display: inline-block;
    font-size: 1rem;
    color: #FFF;
    padding: 0.4rem 0.7rem;
    ;
    margin: 0.1rem;
    border: 0;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button:hover,
button:focus main#wrapper>article>nav>a:hover,
main#wrapper>article>nav>a:focus {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
}

main#wrapper>article>nav>a {
    font-weight: 700;
}


/* PAGE HEADER */

header#top,
footer {
    text-align: center;
    padding: 1rem;
}

header#top h1 {
    font-size: 4rem;
    color: #FFF;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

header#top img.metavrselogo {
    margin: 0 auto;
    width: 310px;
}

header#top h1 span {
    margin-top: 0;
}

header#top p {
    margin: 1rem 0.4rem 0;
}

header#top p,
header#top p a {
    color: #000;
}

header#top p a:hover {
    color: #FFF;
}

main#wrapper>article>nav {
    text-align: right;
}


/* FILTER */

section.filter {
    display: flex;
    justify-content: center;
    width: 75%;
    max-width: 800px;
    font-size: 1.7rem;
    color: #333;
    margin: 3rem auto 1rem;
    border: 4px solid #FFF;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(30, 20, 20, 0.4);
    transition: all .3s ease-in-out;
}

section.filter>input {
    flex-grow: 7;
    flex-shrink: 7;
    font-size: 1.7rem;
    padding: 1rem;
    border: 0;
    background: transparent;
}

section.filter>button {
    font-size: 1.7rem;
    font-weight: 700;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 30px;
    text-align: right;
    color: #666;
    border: 0;
    background: transparent;
}

section.filter>button img {
    width: 2.3rem;
}

section.filter button:hover {
    color: #cd3333;
}

section.filter:hover,
section.filter:hover,
section.filter:hover,
section.filter:focus {
    color: #000;
    background: #FFF;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}


/* ERROR HANDLING */

header#top .error {
    color: red;
    text-align: center;
    background: #FFF;
    padding: 1rem;
}

header#top .error ul {
    list-style-type: none;
}


/* LOADER */

header#top figure.loader {
    width: 80%;
    margin: 50px auto;
    font-size: 5vw;
}

header#top figure.loader img {
    width: 30%;
}


/* CONTENT */

main#wrapper {
    width: 90%;
    column-width: 320px;
    column-gap: 1rem;
    margin: 50px auto;
    text-align: left;
}


/* CONTENT ARTICLES */

main#wrapper>article {
    color: #111;
    display: inline-block;
    overflow: hidden;
    margin: 0 0 15px;
    padding-bottom: 10px;
    box-shadow: 0 3px 5px rgba(30, 20, 20, 0.4);
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */
    background: rgba(255, 255, 255, 0.5);
}

main#wrapper:hover article:not(:hover) {
    opacity: 0.7;
}

main#wrapper>article>main a {
    color: #111;
    border-bottom: 4px solid rgba(0, 0, 0, 0.6);
}

main#wrapper>article>main a:hover,
main#wrapper>article>main a:focus {
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom: 4px solid #222;
}

main#wrapper>article>header {
    background-color: rgba( 255, 255, 255, 0.5)
}

main#wrapper>article>header,
main#wrapper>article>main,
main#wrapper>article>nav {
    padding: 1rem;
}

main#wrapper>article>header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

main#wrapper>article>header>h2 {
    flex-grow: 7;
    flex-shrink: 7;
    width: 80%;
}

main#wrapper>article>header>a {
    flex-grow: 1;
    flex-shrink: 1;
    width: 1.7rem;
    margin: 0.1rem;
    border: 0;
    border-radius: 0.5rem;
    transition: all .2s ease-in-out;
}

main#wrapper>article>header>a:hover {
    background-color: #FFF;
}

main#wrapper>article>header>a>img {
    width: 100%;
    padding: 5px;
}

#wrapper>article>nav>a:hover,
#wrapper>article>nav>a:focus {
    color: #222;
    background-color: #FFF;
}


/* WEB LINK */

#wrapper>article>main span.webLink {
    display: inline-block;
    width: 0.9rem;
    margin: 0;
    padding: 0;
}

#wrapper>article>main a {}

#wrapper>article>main span.webLink img {
    width: 100%;
    padding: 0;
}


/* FOOTER */

footer {
    background-color: rgba( 0, 0, 0, 0.6)
}

footer p,
footer hr {
    max-width: 800px;
    margin: 1rem auto;
}

footer.intro {
    background-color: rgba( 50, 50, 50, 0.6)
}


/* BREAKPOINTS */

@media screen and (max-width: 700px) {
    main#wrapper article {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    body {
        line-height: 1.3rem;
    }
    main#wrapper {
        column-gap: 0px;
        margin: 0;
        width: 100%;
    }
    header#top h1 {
        font-size: 2rem;
    }
    main#wrapper>article {
        margin: 0;
    }
    header#top img.metavrselogo {
        width: 70%;
    }
    section.filter {
        width: 100%;
        padding: 0;
    }
    section.filter input {
        font-size: 1.2rem;
        padding: 1rem;
        margin: 0;
    }
}