<template>
<div>
<!-- HEADER -->
  <header id="top">
      <h1><span>MEDIEN</span>kompetenz</h1>
      <p>ist eine <a href="#footer">freie kuratierte Sammlung</a> mit Tutorials, Workshops und Infos für Eltern und Kinder.</p>
<!-- ERROR HANDLING -->
    <noscript>
      <p>
        Tut mir leid aber die Seite braucht JavaScript und kann leider nicht ohne... Bitte installiere einen modernen Browser und aktiviere JavaScript, um ihn zu nutzen. Hier werden keine persönlichen Daten gespeichert!
      </p>
    </noscript>
    <aside v-if="errors && errors.length" class="error">
      <ul>
        <li :key="i" v-for="(error, i) of errors">
          {{ error.message }}
        </li>
      </ul>
    </aside>

<!-- FILTER -->
    <section class="filter" id="totop">
      <input 
        type="text" 
        placeholder="Freisuche oder Schlagwort ..."
        v-model="keywordsFilter" 
        @input="forceLowerCase($event, keywordsFilter)"><br>
        <button v-if="keywordsFilter" @click="addKeywordFilter('')">X</button>
        <button v-if="!keywordsFilter"><img src="./assets/search.svg" alt="search" title="search"></button>
    </section>
    <button
      @click="addKeywordFilter(keyword)"
      v-for="keyword in keywordsAll" :key="keyword">
        {{ keyword }} 
    </button>

<!-- LOADER -->
    <figure v-if=" json && json === null" class="loader">
      <img src="./assets/loadgrid.svg" alt="laden">
      <figcaption>laden</figcaption>
    </figure>  
  </header>

<!-- MAIN DATA -->
  <main id="wrapper">
    <article 
      :key="i" v-for="(itemJSON, i) in json"
      v-if="
        itemJSON.Tag.includes(keywordsFilter) 
        || (itemJSON.Object.indexOf(keywordsFilter) !== -1 )
        || (itemJSON.Description.indexOf(keywordsFilter) !== -1 )
        || (keywordsFilter === null) 
        ">
      <header>
        <h2>{{ itemJSON.Object }}</h2>
        <a href="#totop"><img src="./assets/totop.svg" alt="nach oben" title="nach oben"></a>
      </header>
      <main>
        <p>{{ itemJSON.Description }}</p>
        <p>
          <a :href="itemJSON.Link" target="_blank">
            <span class="webLink"><img src="./assets/link.svg" alt="Website" title="Website"> </span>
            {{ itemJSON.Link.substring(0,30) }}...
          </a>
        </p>
      </main>
      <nav>
        <a
          href="#totop"
          @click="addKeywordFilter(tagItem)"
          :key="j" v-for="(tagItem, j) in itemJSON.Tag">
            {{ tagItem }} 
            {{ addKeywordAll(tagItem) }}
        </a>
      </nav>
    </article>
  </main>

<!-- FOOTER -->
  <footer id="footer">
    <p class="intro">
      <strong>MEDIENkompetenz</strong> sammelt Tutorials, Workshops und Infos, die Eltern und Kindern helfen Medien zu machen. Nach dem Motto: "Es selbst zu machen, heißt es zu verstehen." Medienkompetenz erwerben Schülerinnen und Schüler am besten bei der aktiven Auseinandersetzung mit Medien und wie diese funktionieren. Wer selbst einmal gefilmt hat, weiß, wie Kameraperspektiven eingesetzt werden, um den Betrachter zu beeinflussen. Analog gilt dies für Radio, Hörspiele, Nachrichten, Zeitungen, Webseiten, Apps und und und ....  Das Ziel ist es deshalb, Schülerinnen und Schüler zu mündigen Bürgern zu erziehen, die selbstbewußt mit dem Medienangeboten umgehen können.
    </p>    
    <hr/>
    <p>
      Diese Seite ist <a href="http://digitalpraxis.de/" target="_blank">mein Angebot</a> für die <a href="https://mgbb-eltern-ag.de/" target="_blank">Eltern der Montessori-Gemeinschaftsschule Berlin-Buch</a><br/>
      Fehlt etwas? Freue mich über Vorschläge unter: <a href="mailto:robert.karpinski@mgbb-eltern-ag.de">robert.karpinski@mgbb-eltern-ag.de</a>! 

    </p>
  </footer>
  
</div>
</template>

<script>
export default {
  data() {
    return {
      keywordsFilter: '',
      keywordsAll: [],
      json: null,
      url: './imbb.json',
      errors: []
    } //return
  }, //data
  computed: {
  },
  methods: {
    forceLowerCase(e, prop) {
      const start = e.target.selectionStart;
      e.target.value = e.target.value.toLowerCase();
      this.$set(prop, e.target.value);
      e.target.setSelectionRange(start, start);
    },
    addKeywordAll(tagItem){
      if(!this.keywordsAll.includes(tagItem))
        this.keywordsAll.push(tagItem);
    },
    addKeywordFilter(tagItem){
      this.keywordsFilter = tagItem.toLowerCase();
      // this.keywordsFilter.push(tagItem);
    }
  },

created() {
    fetch(this.url)
    .then(r => r.json())  
    .then(json => this.json=json)
    .catch(error => this.errors.push(error));      
  }
} 
</script>

<style>
/*  global */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700); */
@import url(./assets/style.css);

</style>
